@media only screen and (max-width: 320px) {
    /* Styles */

    #bootstrap-overrides body {
        max-width: 320px !important;
    }
    .mobile-ul {
        top: 60px;
        background-color: #3a3f51 !important;
        width: 100% !important;
        height: 200px !important;
        overflow: hidden;
        position: static !important;
        margin: 0 auto !important;
    }
    .center_div {
        margin: 0 auto;
        text-align: center !important;
        width: 70% !important;
    }
    .nav-modal {
        display: block;
        position: relative;
        /* top: 100px; */
        width: 100%;
        background-color: #fafafa;
        /* color: #3a3f51; */
        color: #5ab6eb;
        padding: 0 !important;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
    }
    .main-profile-content {
        display: block;
        height: 500px;
        color: #3a3f51;
        padding: 0px 20px 20px 20px !important;
        overflow: auto;
    }
    .container-fluid {
        height: 100%;
        max-width: 600px !important;
        overflow-x: hidden;
        overflow-y: scroll;
        color: #2e3344;
    }
    .search-parent {
        position: relative;
        margin-bottom: 0;
        margin-top: 10px;
        width: 100%
    }
    .find-text {
        margin-top: 10px;
        width: 100% !important;
        padding-bottom: 0 !important;
        font-size: 1.1em !important;
    }
    .search-form {
        margin: 0 auto;
        font-size: 1.5em !important;
        padding: 5px 0 20px 0 !important;
        width: 100% !important;
        overflow: hidden;
        background-image: url("../images/steth.jpg") !important;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .content {
        height: 100% !important;
        padding: 0 !important;
    }
    .bio {
        font-size: 1.5em;
        padding: 15px;
    }
    .profile-bio {
        text-align: center;
        font-size: 1.5em;
        overflow: scroll;
    }
    .card-specialty {
        font-size: 1.5vh;
        text-align: center;
    }
    .distance {
        font-size: 1em;
        text-align: center;
    }
    .profession {
        font-size: 1em;
        text-align: center;
    }
    .footer {
        font-size: 1em;
    }
    .location {
        font-size: 1em;
        color: #000000 !important;
    }
    button #submit {
        color: #ffffff !important;
        background-color: #be91e2;
        padding: 5px;
    }
    .search-results {
        display: block;
        position: absolute;
        margin: 0 !important;
    }
    .no-results {
        font-size: 1.5vw;
    }
    .col-lg-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .specialty {
        color: #5bc0de !important;
        font-size: 1em !important;
        /* width: 40% !important; */
    }
    .range {
        color: #000000;
        font-size: 1em !important;
        padding-bottom: 0 !important;
    }
    .col-form-label {
        color: rgb(52, 50, 75) !important;
        font-size: 3vw !important;
        width: 50% !important;
    }
    .info-section {
        color: #ffffff;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #5bc0de;
        text-align: center;
        /* margin: 0 auto; */
        width: 100% !important;
    }
    .info-header {
        text-align: center !important;
        font-size: 2em !important;
    }
    .doctor-icon {
        font-size: 4em;
        text-align: center;
    }
    .info-card {
        display: block;
        vertical-align: top;
        width: 100% !important;
        padding: 0 20px 20px 20px;
        margin: 0 auto;
    }
    .info-description {
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }
}


@media only screen and (max-width: 375px) {
    /* Styles */

    #bootstrap-overrides body {
        max-width: 375px !important;
        overflow: hidden;
    }
    .mobile-ul {
        top: 60px;
        background-color: #3a3f51 !important;
        width: 100% !important;
        height: 200px !important;
        overflow: hidden;
        position: static !important;
        margin: 0 auto !important;
    }
    .center_div {
        margin: 0 auto;
        text-align: center !important;
        width: 70% !important;
    }
    .nav-modal {
        display: block;
        position: relative;
        /* top: 100px; */
        width: 100%;
        background-color: #fafafa;
        /* color: #3a3f51; */
        color: #5ab6eb;
        padding: 0 !important;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
    }
    .main-profile-content {
        display: block;
        height: 500px;
        color: #3a3f51;
        padding: 0px 20px 20px 20px !important;
        overflow: auto;
    }
    .container-fluid {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        color: #2e3344;
    }
    .search-parent {
        position: relative;
        margin-bottom: 0;
        margin-top: 10px;
        width: 100%
    }
    .find-text {
        margin-top: 10px;
        width: 100% !important;
        padding-bottom: 0 !important;
    }
    .search-form {
        margin: 0 auto;
        font-size: 1.5em !important;
        padding: 5px 0 20px 0 !important;
        width: 100% !important;
        overflow: hidden;
        background-image: url("../images/steth.jpg") !important;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .content {
        height: 100% !important;
        padding: 0 !important;
    }
    .bio {
        font-size: 1.5em;
        padding: 15px;
    }
    .profile-bio {
        text-align: center;
        font-size: 1.5em;
        overflow: scroll;
    }
    .card-specialty {
        font-size: 1.5vh;
        text-align: center;
    }
    .distance {
        font-size: 1em;
        text-align: center;
    }
    .profession {
        font-size: 1em;
        text-align: center;
    }
    .footer {
        font-size: 1em;
    }
    .location {
        font-size: 1em;
        color: #000000 !important;
    }
    button #submit {
        color: #ffffff !important;
        background-color: #be91e2;
        padding: 5px;
    }
    .search-results {
        display: block;
        position: absolute;
        margin: 0 !important;
    }
    .no-results {
        font-size: 1.5vw;
    }
    .col-lg-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .specialty {
        color: #5bc0de !important;
        font-size: 1em !important;
        /* width: 40% !important; */
    }
    
    .range {
        color: #000000;
        font-size: 1em !important;
        padding-bottom: 0 !important;
    }
    .col-form-label {
        color: rgb(52, 50, 75) !important;
        font-size: 3vw !important;
        width: 50% !important;
    }
    .info-section {
        color: #ffffff;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #5bc0de;
        text-align: center;
        /* margin: 0 auto; */
        width: 100% !important;
    }
    .info-header {
        text-align: center !important;
        font-size: 2em !important;
    }
    .doctor-icon {
        font-size: 4em;
        text-align: center;
    }
    .info-card {
        display: block;
        width: 100% !important;
        padding: 0 20px 20px 20px;
        margin: 0 auto;
    }
    .info-description {
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }
}


@media only screen and (max-width: 414px) {
    /* Styles */

    #bootstrap-overrides body {
        max-width: 414px !important;
        overflow: hidden;
    }
    .mobile-ul {
        top: 60px;
        background-color: #3a3f51 !important;
        width: 100% !important;
        height: 200px !important;
        overflow: hidden;
        position: static !important;
        margin: 0 auto !important;
    }
    .center_div {
        margin: 0 auto;
        text-align: center !important;
        width: 70% !important;
    }
    .nav-modal {
        display: block;
        position: relative;
        /* top: 100px; */
        width: 100%;
        background-color: #fafafa;
        /* color: #3a3f51; */
        color: #5ab6eb;
        padding: 0 !important;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
    }
    .main-profile-content {
        display: block;
        height: 500px;
        color: #3a3f51;
        padding: 0px 20px 20px 20px !important;
        overflow: auto;
    }
    .container-fluid {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        color: #2e3344;
    }
    .search-parent {
        position: relative;
        margin-bottom: 0;
        margin-top: 10px;
        width: 100%
    }
    .find-text {
        margin-top: 10px;
        width: 100% !important;
        padding-bottom: 0 !important;
    }
    .search-form {
        margin: 0 auto;
        font-size: 1.5em !important;
        padding: 5px 0 20px 0 !important;
        width: 100% !important;
        /* min-width: 350px !important; */
        /* height: 100%; */
        overflow: hidden;
        background-image: url("../images/steth.jpg") !important;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .content {
        height: 100% !important;
        padding: 0 !important;
    }
    .bio {
        font-size: 1.5em;
        padding: 15px;
    }
    .profile-bio {
        text-align: center;
        font-size: 1.5em;
        overflow: scroll;
    }
    .card-specialty {
        font-size: 1.5vh;
        text-align: center;
    }
    .distance {
        font-size: 1em;
        text-align: center;
    }
    .profession {
        font-size: 1em;
        text-align: center;
    }
    .footer {
        font-size: 1em;
    }
    .location {
        font-size: 1em;
        color: #000000 !important;
    }
    button #submit {
        color: #ffffff !important;
        background-color: #be91e2;
        padding: 5px;
    }
    .search-results {
        display: block;
        position: absolute;
        margin: 0 !important;
    }
    .no-results {
        font-size: 1.5vw;
    }
    .col-lg-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .specialty {
        color: #5bc0de !important;
        font-size: 1em !important;
        /* width: 40% !important; */
    }
    
    .range {
        color: #000000;
        font-size: 1em !important;
        padding-bottom: 0 !important;
    }
    .col-form-label {
        color: rgb(52, 50, 75) !important;
        font-size: 3vw !important;
        width: 50% !important;
    }
    .info-section {
        color: #ffffff;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #5bc0de;
        text-align: center;
        /* margin: 0 auto; */
        width: 100% !important;
    }
    .info-header {
        text-align: center !important;
        font-size: 2em !important;
    }
    .doctor-icon {
        font-size: 4em;
        text-align: center;
    }
    .info-card {
        display: block;
        width: 100% !important;
        padding: 0 20px 20px 20px;
        margin: 0 auto;
    }
    .info-description {
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }
}


@media only screen and (max-width: 620px) {
    /* Styles */

    #bootstrap-overrides body {
        max-width: 620px !important;
        overflow: hidden;
    }
    .mobile-ul {
        top: 60px;
        background-color: #3a3f51 !important;
        width: 100% !important;
        height: 200px !important;
        overflow: hidden;
        position: static !important;
        margin: 0 auto !important;
    }
    .center_div {
        margin: 0 auto;
        text-align: center !important;
        width: 70% !important;
    }
    .nav-modal {
        display: block;
        position: relative;
        /* top: 100px; */
        width: 100%;
        background-color: #fafafa;
        /* color: #3a3f51; */
        color: #5ab6eb;
        padding: 0 !important;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
    }
    .main-profile-content {
        display: block;
        height: 500px;
        color: #3a3f51;
        padding: 0px 20px 20px 20px !important;
        overflow: auto;
    }
    .container-fluid {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        color: #2e3344;
    }
    .search-parent {
        position: relative;
        margin-bottom: 0;
        margin-top: 10px;
        width: 100%
    }
    .find-text {
        margin-top: 10px;
        width: 100% !important;
        padding-bottom: 0 !important;
    }
    .search-form {
        margin: 0 auto;
        font-size: 1.5em !important;
        padding: 5px 0 20px 0 !important;
        width: 100% !important;
        /* min-width: 350px !important; */
        /* height: 100%; */
        overflow: hidden;
        background-image: url("../images/steth.jpg") !important;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .content {
        height: 100% !important;
        padding: 0 !important;
    }
    .bio {
        font-size: 1.5em;
        padding: 15px;
    }
    .profile-bio {
        text-align: center;
        font-size: 1.5em;
        overflow: scroll;
    }
    .card-specialty {
        font-size: 1.5vh;
        text-align: center;
    }
    .distance {
        font-size: 1em;
        text-align: center;
    }
    .profession {
        font-size: 1em;
        text-align: center;
    }
    .footer {
        font-size: 1em;
    }
    .location {
        font-size: 1em;
        color: #000000 !important;
    }
    button #submit {
        color: #ffffff !important;
        background-color: #be91e2;
        padding: 5px;
    }
    .search-results {
        display: block;
        position: absolute;
        margin: 0 !important;
    }
    .no-results {
        font-size: 1.5vw;
    }
    .col-lg-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .specialty {
        color: #5bc0de !important;
        font-size: 1em !important;
        /* width: 40% !important; */
    }
    
    .range {
        color: #000000;
        font-size: 1em !important;
        padding-bottom: 0 !important;
    }
    .col-form-label {
        color: rgb(52, 50, 75) !important;
        font-size: 3vw !important;
        width: 50% !important;
    }
    .info-section {
        color: #ffffff;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #5bc0de;
        text-align: center;
        /* margin: 0 auto; */
        width: 100% !important;
    }
    .info-header {
        text-align: center !important;
        font-size: 2em !important;
    }
    .doctor-icon {
        font-size: 4em;
        text-align: center;
    }
    .info-card {
        display: block;
        width: 100% !important;
        padding: 0 20px 20px 20px;
        margin: 0 auto;
    }
    .info-description {
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }
}


@media only screen and (max-width: 1024px) {
    /* Styles */

    #bootstrap-overrides body {
        max-width: 1024px !important;
        overflow: hidden;
    }

    .specialty {
        font-size: 1.2em !important;
    }

    .range {
        font-size: 1.2em !important;
    }

    .white {
        color: #7d5c99 !important;
    }
    
    .info-card {
        display: inline !important;
        padding: 0 20px 20px 20px;
        margin: 0 auto;
    }
    .info-description {
        font-size: 1.5em;
        text-align: center;
        width: 100%;
}

    .doctor-icon {
        color: #7d5c99 !important;
    }
    
}




@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

* {
    box-sizing: border-box;
}

.logo-container {
    width: 250px;
    height: 150px;
    position: absolute;
    padding: 10px;
}

.icon-search {
    color: #fff;
}

.container-fluid {
    height: 100%;
    color: #2e3344;
    padding: 80px 0 0 0 !important;
    margin: 0 auto !important;
    /* background-color: #5bc0de; */
}

.content {
    height: 100% !important;
    width: 100% !important;
    margin: 0 auto !important;
}

.card a {
    color: #2e3344;
}

.card a:hover {
    color: #83828D;
}

.navbar-header {
    top: 60px;
    background-color: #3a3f51;
    width: 200px;
    height: 100%;
    position: relative;
}

.top-nav {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    position: fixed;
    display: block;
    z-index: 1000;
    border-top-style: solid !important;
    border-color: rgb(170, 132, 214) !important;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 0;
    width: 100%;
    height: 60px;
    position: fixed;
}

.top-nav li {
    text-align: center;
}

.top-nav li a {
    display: block;
    width: 60px;
    text-align: center;
    color: #a6a8b1;
    padding: 8px 16px;
    text-decoration: none !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0;
    width: 200px;
    height: 100%;
    background-color: #3a3f51;
    position: absolute;
}

.line {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    overflow: hidden;
    font-size: 0;
    background-color: #2e3344;
}

.mobile-line {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    overflow: hidden;
    font-size: 0;
    background-color: #2e3344;
}

li a {
    display: block;
    width: 60px;
    color: #a6a8b1;
    padding: 8px 16px;
    text-decoration: none !important;
}

li a:hover {
    background-color: #282c38;
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

button #submit {
    color: #ffffff !important;
    background-color: #be91e2;
    padding: 5px;
}

.search-form {
    /* margin: 0 auto !important; */
    text-align: center !important;
    padding: 40px;
    /* left: 0 !important;
    right: 0 !important; */
    font-size: 1.5em;
    background-image: url("../images/steth.jpg") !important;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
}

.center_div {
    margin: 0 auto;
    text-align: center !important;
    width: 30%;
}

.search-results {
    display: block;
    margin: 30px !important;
}

.no-results {
    font-size: 1.5em;
}

.results-container {
    top: 400px !important;
    margin-top: 30px !important;
    padding: 0;
    right: 0px;
    left: 0px;
    height: 100%;
}

input {
    line-height: 1.5em;
}

.distance {
    text-align: center;
}

.location {
    color: #000000 !important;
}

a {
    text-decoration: none;
}

a :visited {
    color: #3a3f51 !important;
}

li {
    list-style: none;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
    background-color: #f6f6f6 !important;
    margin: 0 !important;
    background-size: 25% 25%;
    min-width: 345px;
    width: auto !important;
    width: 345px;
}

::selection {
    background-color: #EBEBF2;
    color: #83828D;
}

#map {
    height: 400px;
    width: 100%;
    color: #000000;
    display: block;
}

#profile-map {
    position: relative;
    height: 420px;
    width: 100%;
}

.specialty {
    color: #5bc0de;
    font-size: 3vh;
    width: 100%;
    float: right !important;
    padding-bottom: 10px !important;
}

.card-specialty {
    text-align: center;
}

.insurance {
    color: #000000 !important;
}

.range {
    color: #5bc0de;
    font-size: 3vh;
    width: 100%;
    float: right !important;
    padding-bottom: 40px;
}

.profile-image {
    padding-top: 20px;
    text-align: center;
}

.profile-name {
    text-align: center;
}

.profile-title {
    text-align: center;
    color: #83828D;
}

.profile-practice {
    text-align: center !important;
}

.practice-address {
    text-align: center;
}

.practice-address2 {
    text-align: center;
}

.practice-city {
    text-align: center;
    display: inline;
}

.practice-state {
    text-align: center;
    display: inline;
}

.practice-zip {
    text-align: center;
    display: inline;
}

.profile-contact {
    text-align: center;
}

span {
    text-align: center;
}

.address {
    text-align: center;
}

.mobile-address {
    text-align: center;
}

.practice {
    text-align: center;
}

.mobile-practice {
    text-align: center;
}

.col-form-label {
    color: #5bc0de;
    font-size: 2vh;
    display: inline-block !important;
    float: left !important;
}

.icons {
    position: relative;
}

.glyphicon {
    position: absolute !important;
    left: 20px !important;
}

.modal {
    background-color: rgba(58, 63, 81, .5) !important;
    min-width: 345px !important;
}

.modal-dialog {
    min-width: 345px !important;
}

.modal-content {
    min-width: 345px !important;
}

.close {
    float: right;
    margin: 5px 7px 0 0 !important;
}

.main-profile-content {
    height: 500px;
    color: #3a3f51;
    padding: 0px 20px 20px 220px;
    overflow: auto;
}

.mobile-main-profile-content {
    height: 500px;
    color: #3a3f51;
    padding: 0px 20px 20px 20px;
    overflow: auto;
}

.nav-modal {
    display: inline-block;
    margin: auto 0;
    width: 100%;
    background-color: #fafafa;
    /* color: #3a3f51; */
    color: #5ab6eb;
    padding: 0px 0px 0px 200px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.mobile-nav-modal {
    display: inline-block;
    width: 100%;
    background-color: #fafafa;
    /* color: #3a3f51; */
    color: #5ab6eb;
    padding: 0;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

#map_canvas {
    background: transparent url(../images/ajax-loader.gif) no-repeat center center;
}

.modal label {
    color: rgb(117, 107, 185);
    font-size: 1.3vw;
}

.bio {
    text-align: center;
    font-size: 1em;
    padding: 15px;
}

.profile-bio {
    text-align: center;
    font-size: 1.5em;
    overflow: scroll;
}

.bar button {
    white-space: normal;
    background-color: #fafafa;
    border-radius: 0 !important;
}

button:hover {
    background-color: #3a3f51;
    color: #fafafa !important;
    border-radius: 0 !important;
}

button:focus {
    background-color: #3a3f51;
    color: #fafafa !important;
    border-radius: 0 !important;
}

.bar .bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
}

#Insurance_Accepted {
    text-align: center;
    overflow: scroll;
}

.js-profile-insurance {
    font-size: 3em;
}

.js-doctor-distance {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.find-text {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #5bc0de;
    padding-bottom: 40px;
}

.white {
    color: #ffffff;
}

.info-section {
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #5bc0de;
}

.info-header {
    text-align: center !important;
    font-size: 2em !important;
}

.doctor-icon {
    font-size: 4em;
    text-align: center;
    color: #7d5c99 !important;
}

.info-card {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding: 0 20px 20px 20px;
    margin-top: 50px;
}

.info-description {
    font-size: 1.5em;
    text-align: center;
}

.loading {
    position: absolute;
    left: 50%;
    top: 200px;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #be91e2;
    border-radius: 50%;
    border-top: 16px solid #5bc0de;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}