/* .search-results {
    display: inline;
} */

.logo-container {
    width: 200px;
    height: 100px;
    background-color: #3a3f51;
    position: fixed;
}

.container-fluid {
    height: 100%;
    padding-left: 200px;
    color: #2e3344;
}

.card a {
    color: #2e3344;
}

.card a:hover {
    color: #83828D;
}

.navbar-header {
    top: 60px;
    background-color: #3a3f51;
    width: 200px;
    height: 100%;
    position: relative;
}

.top-nav {
    background-color: #3a3f51;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 1000;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 0;
    width: 100%;
    height: 60px;
    /* background-color: #f8f8f8; */
    position: fixed;
}

.top-nav li {
    text-align: center;
}

.top-nav li a {
    display: block;
    width: 60px;
    text-align: center;
    color: #a6a8b1;
    padding: 8px 16px;
    text-decoration: none !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0;
    width: 200px;
    height: 100%;
    background-color: #3a3f51;
    position: absolute;
}

.line {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    overflow: hidden;
    font-size: 0;
    background-color: #2e3344;
}

li a {
    display: block;
    width: 60px;
    color: #a6a8b1;
    padding: 8px 16px;
    text-decoration: none !important;
}

li a:hover {
    background-color: #282c38;
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    color: #000000 !important;
}

.map {
    height: 100px;
    width: auto;
}


/* .social-links a {
    color: #658dc2 !important;
}

.stats-container a {
    color: #658dc2 !important;
}

.glyphicon a {
    color: #658dc2 !important;
} */

.search-form {
    /* margin: 50px; */
    /* text-align: center; */
    margin: 0 auto;
    padding: 20px;
}

.distance {
    text-align: center;
}

.location {
    color: #000000 !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, serif;
    background-color: #f6f6f6 !important;
    margin: 0 !important;
}

::selection {
    background-color: #EBEBF2;
    color: #83828D;
}

#map {
    height: 400px;
    width: 100%;
    color: #000000;
}

.specialty {
    color: #000000 !important;
}

.insurance {
    color: #000000 !important;
}

.range {
    color: #000000;
}

.profile-image {
    padding-top: 20px;
    text-align: center;
}

.profile-name {
    text-align: center;
}

.profile-title {
    text-align: center;
    color: #83828D;
}

.profile-practice {
    text-align: center;
}

.practice-address {
    text-align: center;
}

.practice-address2 {
    text-align: center;
}

.practice-city {
    text-align: center;
    display: inline;
}

.practice-state {
    text-align: center;
    display: inline;
}

.practice-zip {
    text-align: center;
    display: inline;
}

.profile-contact {
    text-align: center;
}

span {
    text-align: center;
}

.address {
    text-align: center;
}

.practice {
    text-align: center;
}

label {
    color: #83828D;
}

.icons {
    position: relative;
}

.glyphicon {
    position: absolute !important;
    left: 20px !important;
}

.modal {
    background-color: rgba(58, 63, 81, .5) !important;
 }

.main-profile-content{
    display: inline-block;
    height: 500px;
    color: #3a3f51;
    padding: 20px 20px 20px 220px;
}

.nav-modal{
    display: inline-block;
    width: 100%;
    background-color: #fafafa;
    color: #3a3f51;
    padding: 0px 0px 0px 200px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

 .profile-bio {
    text-align: center;
 }

 .w3-bar .w3-button {
    white-space: normal;
    background-color: #fafafa;
}

.w3-button:hover {
    background-color: #3a3f51;
    color: #fafafa !important;
}

.w3-button:focus{
    background-color: #3a3f51;
    color: #fafafa !important;
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
}